<!DOCTYPE html>
<html lang="en">

<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% load static %}}
  <link href={% static 'core/css/covid.css' %} rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COVID-19</title>
  {% bootstrap_javascript %}
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>


<body class="bg-dark text-center">
  <h1 class="text-center text-white mt-5">ESTADISTICAS <span class="text-danger">COVID-19</span></h1>

  <form method="post" action="" class="d-flex justify-content-center align-items-center mt-5">
    {% csrf_token %}
    <select class="form-control" name="selectedcountry" style="width: 200px;">
      {% for country in countries %}
      <option>{{ country }}</option>
      {% endfor %}
    </select>
    <input class="btn btn-outline-danger ms-3" type="submit">
  </form>

  <br>

  <div class="container">
    <h1 class="text-white">{{ pais }}</h1>
    <div class="row text-white d-flex justify-content-center align-items-center">
      <div class="col-md-3 bg-info mx-3 my-3" id="card">
        <h1> {{ new }} </h1>
        <p>Nuevos casos</p>
      </div>
      <div class="col-md-3 bg-light mx-3 my-3 text-dark" id="card">
        <h1> {{ active }} </h1>
        <p>Casos activos</p>
      </div>
      <div class="col-md-3 bg-warning mx-3 my-3" id="card">
        <h1> {{ critical }} </h1>
        <p>Casos criticos</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center" id="card>">
        <div class="col-lg-10">
          <figure class="highcharts-figure">
            <div id="container"></div>
          </figure>
        </div>
      </div>
    </div>
    <div class="row text-white d-flex justify-content-center align-items-center">
      <div class="col-md-3 bg-success mx-3 my-3" id="card">
        <h1> {{ recovered }} </h1>
        <p>Casos recuperados</p>
      </div>
      <div class="col-md-3 bg-danger mx-3 my-3" id="card">
        <h1> {{ deaths }} </h1>
        <p>Bajas</p>
      </div>
      <div class="col-md-3 bg-primary mx-3 my-3" id="card">
        <h1> {{ total }} </h1>
        <p>Total</p>
      </div>
    </div>


  </div>

  </div>

  <script type="application/javascript">

    Highcharts.chart('container', {
      chart: {
        type: 'spline',
        scrollablePlotArea: {
          minWidth: 400,
          scrollPositionX: 1
        }
      },
      title: {
        text: 'Wind speed during two days',
        align: 'left'
      },
      subtitle: {
        text: '13th & 14th of February, 2018 at two locations in Vik i Sogn, Norway',
        align: 'left'
      },
      xAxis: {
        type: 'datetime',
        labels: {
          overflow: 'justify'
        }
      },
      yAxis: {
        title: {
          text: 'Wind speed (m/s)'
        },
        minorGridLineWidth: 0,
        gridLineWidth: 0,
        alternateGridColor: null,
        plotBands: [{ // Light air
          from: 0.3,
          to: 1.5,
          color: 'rgba(68, 170, 213, 0.1)',
          label: {
              style: {
              color: '#606060'
            }
          }
        }, { // Light breeze
          from: 1.5,
          to: 3.3,
          color: 'rgba(0, 0, 0, 0)',
          label: {
              style: {
              color: '#606060'
            }
          }
        }, { // Gentle breeze
          from: 3.3,
          to: 5.5,
          color: 'rgba(68, 170, 213, 0.1)',
          label: {
              style: {
              color: '#606060'
            }
          }
        }, { // Moderate breeze
          from: 5.5,
          to: 8,
          color: 'rgba(0, 0, 0, 0)',
          label: {
              style: {
              color: '#606060'
            }
          }
        }, { // Fresh breeze
          from: 8,
          to: 11,
          color: 'rgba(68, 170, 213, 0.1)',
          label: {
              style: {
              color: '#606060'
            }
          }
        }, { // Strong breeze
          from: 11,
          to: 14,
          color: 'rgba(0, 0, 0, 0)',
          label: {
              style: {
              color: '#606060'
            }
          }
        }, { // High wind
          from: 14,
          to: 15,
          color: 'rgba(68, 170, 213, 0.1)',
          label: {
              style: {
              color: '#606060'
            }
          }
        }]
      },
      tooltip: {
        valueSuffix: ' m/s'
      },
      plotOptions: {
        spline: {
          lineWidth: 4,
          states: {
            hover: {
              lineWidth: 5
            }
          },
          marker: {
            enabled: false
          },
          pointInterval: 86400000, // one day
          pointStart: Date.UTC(2018,13,23)
        }
      },
      series: [{
        name: 'Casos reportados',
        data: [
          3.7, 3.3, 3.9, 5.1, 30.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 3.4,
         
        ]

      }, {
        name: 'Muertes reportadas',
        data: [
          3.7, 3.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 6.4,
        ]
      }],
      navigation: {
        menuItemStyle: {
          fontSize: '10px'
        }
      }
    });
  </script>

  <footer class="d-flex justify-content-center align-items-center text-white mt-5">
    <p>Developed by</p>
    <p class="text-secondary mx-2">Nelson Figueroa</p>
    <p class="fw-lighter">2021</p>
  </footer>
  <script>
    $(document).ready(function () {
      $("div#card").fadeIn(2000);
    })

  </script>
</body>

</html>